.Parallaxcontent {
  width: 100vw;
  justify-content: center;
  display: flex;
  position: absolute;
  &__tree {
    width: 350%;
    height: 120%;
    position: absolute;
    z-index: 1;
    margin-top: -15%;
    display: table;

    img {
      width: 20%;
      height: 40%;
      margin-left: 3%;
    }
  }
}
////content
.content {
  margin-top: 5%;
  width: 100vw;
  &-bg {
    width: 102vw;
    height: 6795px;
    background-image: url("img/background test.jpg");
    background-repeat: no-repeat;
    position: absolute;
    background-size: 2040px 6795px;
    transform: translate(-50px,-20\px);
  }
  &-obj1 {
    background-image: url("img/object3.png");
    width: 2000px;
    height: 90%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-3%,-30%);
  }
  &-obj2 {
    background-image: url("img/object2.png");
    width: 60%;
    height: 40%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(-60%, 140%) rotateZ(120deg);
  }
  &-obj3 {
    background-image: url("img/object2.png");
    width: 60%;
    height: 40%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(75%, 30%) rotateZ(200deg);
  }
  &-obj4 {
    background-image: url("img/object5.png");
    width: 50%;
    height: 30%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(-5%, 200%) rotateZ(10deg);
  }
  &-obj5 {
    background-image: url("img/object5.png");
    width: 50%;
    height: 30%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(100%, 170%) rotateZ(10deg) scaleX(-1);
  }
  &-obj6 {
    background-image: url("img/object6.png");
    width: 50%;
    height: 30%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(-5%, -40%) rotateZ(10deg);
  }
  &-obj7 {
    background-image: url("img/object6.png");
    width: 50%;
    height: 30%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(100%, -80%) rotateZ(10deg) scaleX(-1);
  }
  &-objnest{
    background-image: url("img/object 4.png");
    width: 100%;
    height: 60%;
    position: absolute;
    z-index: 10;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    margin-left: 12%;
    transform: translate(40%, 20%) ;
  }
  &-rat{
    background-image: url("img/rat.png");
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: 10;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    margin-left: 30%;
    margin-top: 20%;
  }
  &-obj8 {
    background-image: url("img/object8.png");
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(0%, 60%) ;

  }
  &-obj9 {
    background-image: url("img/object2.png");
    width: 50%;
    height: 30%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(110%, -20%) rotateZ(220deg);
  }
  &-obj10 {
    background-image: url("img/object2.png");
    width: 50%;
    height: 30%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(-40%, 180%) rotateZ(90deg);
  }
  &-obj11 {
    background-image: url("img/object7.png");
    width: 60%;
    height: 40%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(-5%, -10%) rotateZ(180deg) scale(-1);
  }
  &-obj12 {
    background-image: url("img/object7.png");
    width: 60%;
    height: 40%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(120%, -130%) rotateZ(290deg) scale(1);
  }
}
.bt:hover {
  background-color: #bf4b21;
}
