.Parallaxcontent {
  width: 100vw;
  justify-content: center;
  display: flex;
  position: absolute;
  &__tree {
    width: 350%;
    height: 120%;
    position: absolute;
    z-index: 30;
    margin-top: -25%;
    display: table;

    img {
      width: 20%;
      height: 45%;
      margin-left: 3%;
    }
  }
  &__tree2 {
    width: 100%;
    height: 20%;
    position: absolute;
    z-index: 10;
    margin-top: -25%;
    display: table;

    img {
      width: 20%;
      height: 45%;
      margin-left: 70%;
    }
  }
  &__tree3 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5000;
    margin-left: 20%;
    margin-top: -25%;
    display: table;

    img {
      width: 20%;
      height: 45%;
      transform: translateX(-300px);
    }
  }
  &__tree4 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5001;
    margin-left: 110%;
    margin-top: -25%;
    display: table;

    img {
      width: 20%;
      height: 45%;
      transform: translateX(-700px);
    }
  }
}
////content
.content {
  margin-top: 5%;
  width: 100vw;
  &-bg {
    width: 102vw;
    height: 6780px;
    background-image: url("img/background test.jpg");
    background-repeat: no-repeat;
    position: absolute;
    background-size: 2040px 6780px;
    transform: translateX(-45px);
  }
  &-obj1 {
    background-image: url("img/object3.png");
    width: 100%;
    height: 80%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-30%);
  }
  &-obj2 {
    background-image: url("img/object2.png");
    width: 60%;
    height: 40%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(-60%, 140%) rotateZ(120deg);
  }
  &-obj3 {
    background-image: url("img/object2.png");
    width: 60%;
    height: 40%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(75%, 30%) rotateZ(200deg);
  }
  &-obj4 {
    background-image: url("img/object5.png");
    width: 50%;
    height: 30%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(-5%, 200%) rotateZ(10deg);
  }
  &-obj5 {
    background-image: url("img/object5.png");
    width: 50%;
    height: 30%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(100%, 170%) rotateZ(10deg) scaleX(-1);
  }
  &-obj6 {
    background-image: url("img/object6.png");
    width: 50%;
    height: 30%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(-5%, -40%) rotateZ(10deg);
  }
  &-obj7 {
    background-image: url("img/object6.png");
    width: 50%;
    height: 30%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(100%, -80%) rotateZ(10deg) scaleX(-1);
  }
  &-obj8 {
    background-image: url("img/object8.png");
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(0%, 60%) ;

  }
  &-obj9 {
    background-image: url("img/object2.png");
    width: 50%;
    height: 30%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(110%, -20%) rotateZ(220deg);
  }
  &-obj10 {
    background-image: url("img/object2.png");
    width: 50%;
    height: 30%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(-40%, 180%) rotateZ(90deg);
  }
  &-obj11 {
    background-image: url("img/object7.png");
    width: 60%;
    height: 40%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(-5%, -10%) rotateZ(180deg) scale(-1);
  }
  &-obj12 {
    background-image: url("img/object7.png");
    width: 60%;
    height: 40%;
    position: absolute;
    z-index: 450;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    transform: translate(120%, -130%) rotateZ(290deg) scale(1);
  }
}
.bt:hover {
  background-color: #bf4b21;
}
